<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <h2>
    {{_confService?.conf.data._user}}
  </h2>
  <div>
    <label for="user">user</label>
    <input id="user" #user type="text" placeholder="Nombre">
    <button (click)="changer('_user')">Llamar</button>
  </div>

  <div>
    <label for="score">score</label>
    <input id="score" #score type="text" placeholder="Nombre">
    <button (click)="changer('_score')">Cambiar</button>
  </div>

  <div>
    <label for="hotelKey">hotelKey</label>
    <input id="hotelKey" #hotel_key type="text" placeholder="Nombre">
    <button (click)="changer('_hotel_key')">Establecer</button>
  </div>
  <button (click)="changeThis()">FFFF</button>


<router-outlet></router-outlet>
